###############################################################
# Python .gitignore
###############################################################
**/__pycache__
*.pyc
# VSCode
.vscode/**
security/.vscode/**
server/dev/**
